<div draggable="@(currentMatchInfo.GamePhase == GamePhase.Setup ? "true" : "false")" title="@ShipModel.Name" class="ship @ShipModel.Name"
    @ondragstart="() => DragShipStart()" @ontouchstart="DragShipStart">
    @if (Move?.Result == Result.Hit)
    {
        <i class="bi bi-bullseye" style="font-size: 24px;"></i>   
    }
    else if (Move?.Result == Result.Sunk)
    {
        <i class="bi bi-exclamation-circle" style="font-size: 24px;"></i>
    }
</div>

@code {
    [Parameter] public IShip? ShipModel { get; set; }
    [Parameter] public Move? Move { get; set; }
    [CascadingParameter] protected Gameboard gameboard { get; set; }
    [CascadingParameter] protected CurrentMatchInfo currentMatchInfo { get; set; }

    private void DragShipStart()
    {
        if (currentMatchInfo.GamePhase == GamePhase.Setup)
        {
            gameboard.CurrentSelected = ShipModel;
        }   
    }
}
