@page "/"
@using Battleship.WASM.Shared

@inject NavigationManager NavigationManager
@implements IAsyncDisposable


<PageTitle>Index</PageTitle>
<div class="container">
    <h1>Battleship!</h1>
    @if (gamePhase.HasValue)
    {
        <h5>Game Phase: @gamePhase.Value</h5>
    }

    @if (!currentMatchId.HasValue)
    {
        <div>
            <input @bind="username" placeholder="Username" /><button @onclick="JoinQueue" disabled="@(!IsConnected || isQueued)">Join Queue</button>
            @if (isQueued)
            {
                <p>
                    Queue joined...waiting for match

                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </p>
            }

        </div>
    }
    else
    {
        <div class="game-grid">
            @for (var i = 0; i < 100; i++)
            {
                <div id="@i" class="game-grid-cell">X</div>
            }
        </div>
    }

</div>

<style>
    .game-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: 3rem;
        max-width: 40rem;
    }

    .game-grid-cell {
        border-style: groove;
        border-width: 1px;
    }

    .hit {
    }

    .miss {
    }

    .ship {
    }
</style>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private GamePhase? gamePhase;
    private Guid? currentMatchId;
    private bool isQueued = false;

    private string? userInput;
    private string? messageInput;
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .WithUrl(NavigationManager.ToAbsoluteUri("/battleshiphub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<Player>("JoinQueueResponse", (player) =>
        {
            Console.WriteLine(player);
        });

        hubConnection.On<Guid, GamePhase>("NotifyMatchFoundResponse", (matchId, phase) =>
        {
            Console.WriteLine($"Match found {matchId}");
            currentMatchId = matchId;
            gamePhase = phase;   
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
        }
    }

    private async Task JoinQueue()
    {
        if (hubConnection is not null)
        {
            isQueued = true;
            StateHasChanged();
            await hubConnection.SendAsync("JoinQueue", username);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}